<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
  		<a href="/" className='btn btn-primary'><< Go back to Home</a>
  		<h3> Booked Details </h3>
  		Name: <%=@booked_data.user.name %> <br/>
  		Email: <%=@booked_data.user.email %><br/>
  		Desk: <%=@booked_data.desk.name %><br/>
  		Date: <%=@booked_data.start_date %> - <%=@booked_data.end_date %><br/>
    </section>
  </div>
</div>