<!DOCTYPE html>
<html>
  <head>
    <title>Staffseatbooking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body class="login">
      <div class="container body">
       <div class="main_container">
       	<% if user_signed_in? %>
       	  <ul className="nav navbar-nav navbar-right">
	       	  <a className="btn btn-default submit" data-placement="bottom" data-original-title="Sign out" rel="nofollow" data-method="delete" href="/users/sign_out">Logout
	          </a>
	       </ul>
       	<% end %>
       	   <% flash.each do |key, value| %>
        		<div class="alert alert-<%= key %>" style="text-align: center;color: red;"><%= value %></div>
      		<% end %>
           <%= yield %>
       </div>
      </div>
    </body>
  </body>
</html>
